.yellow-background{
  background-color: yellow;
  border: 3px solid green;
  padding: 5px;
  margin: 10px;
}
img.intro {
  margin: auto;
  display: block;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.intro {
  font-family:fantasy;
  color: maroon;
}
